@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Kumbh Sans', sans-serif;
  font-family: 'Lato', sans-serif;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
  line-height: 1.3;
  background: #0D0D0B;
  color: #ffffff;
}

a {
  color: #fff;
  text-decoration: none;
}

.container {
  margin: 0 auto;
  max-width: 1300px;
}

.container--pall {
  padding: 1rem 4rem;
}

.container--py {
  padding-top: 2.25rem;
  padding-bottom: 2.25;
}

.container--px {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

.container--pt {
  padding-top: 2.25rem;
}

.container--pr {
  padding-right: 1.5rem;
}

.container--pb {
  padding-bottom: 2.25rem;
}

.container--pl {
  padding-top: 1.5rem;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.highlight {
  border-bottom: 4px solid #8400ff;
}

.navbar {
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  width: 100%;
  z-index: 99;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.navbar__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 4rem;
}

.navbar__logo {
  width: 50px;
  height: 50px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 2rem;
}

.navbar__logo .img-logo {
  width: 100%;
  height: 100%;
}

.navbar__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

.navbar__item {
  height: 80px;
  cursor: pointer;
}

.navbar__links {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 5rem;
  text-decoration: none;
  height: 100%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  font-size: 1rem;
}

.navbar__links:hover {
  color: #ccc;
}

.mobile-menu {
  padding-top: 2rem;
  width: 32px;
  z-index: 99999;
  position: fixed;
  right: 50px;
  display: none;
}

.mobile-menu:hover {
  cursor: pointer;
}

.mobile-menu .line {
  display: block;
  background: #fff;
  width: 100%;
  height: 2px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.mobile-menu .line:first-child {
  margin-bottom: .5rem;
}

.navbar-mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #0D0D0B;
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: fixed;
  opacity: 0;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.navbar-mobile__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-mobile__menus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.navbar-mobile__links {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.active {
  background: #0D0D0B;
  opacity: 0.80;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/* for javascript */
.navbar-mobile.show-navbar-mobile {
  background: rgba(0, 0, 0, 0.9);
  opacity: 1;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  z-index: 99;
}

@media screen and (max-width: 700px) {
  .navbar__menu {
    display: none;
  }
  .mobile-menu {
    display: block;
  }
}

.hero {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  position: relative;
}

.hero::before {
  content: "";
  position: absolute;
  background: black;
  opacity: 0.20;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.hero__container {
  width: 100%;
  margin: 0 auto;
  padding: 0 8rem;
  max-width: 1600px;
}

.hero__main {
  position: relative;
  width: 60%;
  padding-bottom: 6rem;
  padding-top: 10rem;
}

.hero__main-primary-heading {
  font-size: 4rem;
  margin-bottom: 20px;
  font-family: 'Playfair Display', serif;
  font-weight: normal;
}

.hero__main-secondary-heading {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 2rem;
}

.hero__main-tertiary-heading {
  font-weight: 300;
  line-height: 1.6;
  margin-bottom: 3rem;
}

.hero__main-cta-btn--link {
  border: 1px solid #fff;
  padding: 1rem 5rem;
}

.hero__socials {
  position: relative;
  margin-top: 4rem;
}

.hero__socials-link {
  margin-right: 1rem;
}

.hero__socials-link img {
  width: 25px;
  height: 25px;
}

@media screen and (max-width: 850px) {
  .hero__main {
    width: 100%;
  }
  .hero__main-primary-heading {
    font-size: 3.5rem;
  }
  .hero__main-secondary-heading {
    font-size: 1.5rem;
  }
  .hero__main-tertiary-heading {
    font-size: 1rem;
  }
  .hero__main-cta-btn--link {
    border: 1px solid #fff;
    padding: 1rem 3rem;
  }
}

@media screen and (max-width: 700px) {
  .hero__main {
    position: relative;
    width: 100%;
  }
  .hero__main-primary-heading {
    font-size: 3rem;
    margin-bottom: 20px;
    font-family: 'Playfair Display', serif;
    font-weight: normal;
  }
  .hero__main-secondary-heading {
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 2rem;
  }
  .hero__main-tertiary-heading {
    font-size: 1rem;
  }
  .hero__main-cta-btn--link {
    border: 1px solid #fff;
    padding: 1rem 3rem;
  }
}

@media screen and (max-width: 580px) {
  .hero {
    min-height: 80vh;
  }
  .hero__container {
    padding: 0 5rem;
  }
  .hero__main {
    position: relative;
    width: 100%;
    padding-bottom: 4rem;
  }
  .hero__main-primary-heading {
    font-size: 2rem;
    margin-bottom: 20px;
    font-family: 'Playfair Display', serif;
    font-weight: normal;
  }
  .hero__main-secondary-heading {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 2rem;
  }
  .hero__main-tertiary-heading {
    font-size: .8rem;
  }
  .hero__main-cta-btn--link {
    border: 1px solid #fff;
    padding: .8rem 2rem;
    font-size: 1rem;
  }
  .hero__socials {
    margin-top: 0;
  }
  .hero__socials-link img {
    width: 20px;
    height: 20px;
  }
}

@media screen and (max-width: 400px) {
  .hero {
    min-height: 80vh;
  }
  .hero__main {
    padding-top: 2rem;
  }
}

.projects {
  min-height: 100vh;
  padding: 6rem 0;
}

.projects__container {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 4rem;
}

.projects__container h1 {
  margin-bottom: 2rem;
  font-weight: 400;
  text-transform: uppercase;
}

.projects__container h1::before {
  content: "";
  background: #fff;
  width: 38px;
  height: 4px;
  display: block;
}

.projects__cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(450px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  grid-gap: 6rem;
}

.projects__card {
  position: relative;
}

.projects__card img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.projects__card .overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projects__card .overlay .inner-overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.projects__card .overlay .inner-overlay .mockup {
  width: 50%;
}

.projects__card .overlay .inner-overlay .mockup img {
  width: 100%;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}

.projects__card .overlay .inner-overlay .info {
  width: 50%;
}

.projects__card .overlay .inner-overlay .info h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.projects__card .overlay .inner-overlay .info .skillset {
  margin-bottom: 3rem;
}

.projects__card .overlay .inner-overlay .info .skillset h4 {
  font-size: 1.2rem;
}

.projects__card .overlay .inner-overlay .info .skillset p {
  font-size: 1rem;
}

.projects__card .overlay .inner-overlay .info a {
  font-size: 1rem;
  background: #0D0D0B;
  padding: 1rem 2rem;
  margin-right: 1rem;
}

.projects__card:hover .overlay {
  opacity: 1;
}

.scrollToTop {
  position: fixed;
  bottom: 80px;
  right: 50px;
  width: 40px;
  line-height: 40px;
  text-align: center;
  background: #000;
  color: #fff;
  display: none;
  z-index: 103;
  border-radius: 5px;
}

.scrollToTop:hover {
  background: rgba(0, 0, 0, 0.5);
}
/*# sourceMappingURL=style.css.map */