

.scrollToTop {
    position: fixed;
    bottom: 80px;
    right: 50px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    background: #000;
    color: #fff;
    display: none;
    z-index: 103;
    border-radius: 5px;
  }
  
  .scrollToTop:hover {
    background: rgba(0, 0, 0, 0.5);
  }
  
//MEDIA QUERY
