.navbar {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 99;
  transition: all 0.3s ease;



  &__container {
      display: flex;
      justify-content: space-between;
      
      height: 80px;
      z-index: 1;
      width: 100%;
      max-width: 1600px;
      margin: 0 auto;
      padding: 0 4rem;
  }

  &__logo {
      width: 50px;
      height: 50px;
      align-self: center;
      font-size: 2rem;


      .img-logo {
          width: 100%;
          height: 100%;
      }
  }

  &__menu {
      display: flex;
      align-items: center;
      list-style: none;
  }

  &__item {
      height: 80px;
      cursor: pointer;

  }

  &__links {
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 5rem;
      text-decoration: none;
      height: 100%;
      transition: all 0.3s ease;
      font-size: 1rem;
    
      &:hover {
          color: $grey;
      }
  }

 

}

.mobile-menu {
  padding-top: 2rem;
  width: 32px;
  z-index: 99999;
  position: fixed;
  right: 50px;


  &:hover {
    cursor: pointer;
  }

  .line {
    display: block;
    background: #fff;
    width: 100%;
    height: 2px;
    transition: all .3s ease;

    &:first-child {
      margin-bottom: .5rem;
    }
  }
}


//whole page navbar
.navbar-mobile {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0D0D0B;
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  transition: all 1s ease-in-out;
 
  // &__cancel {
  //   display: flex;
  //   justify-content: flex-end;
  //   padding: 2rem;
  //   margin-bottom: 5rem;

  //   img {
  //     width: 50px;
  //     height: 50px;
  //   }

  //   &:hover {
  //     cursor: pointer;
  //   }
  // }

  &__main {
    display: flex;
    justify-content: center;
    align-items: center;
  }

 &__menus {
   display: flex;
   flex-direction: column;
 }

 &__links {
   font-size: 4rem;
   margin-bottom: 2rem;
 }
  

}



// js - change bg color when scroll
.active {
  background: #0D0D0B;
  opacity: 0.80;
  transition: all 0.3s ease;
}

/* for javascript */
.navbar-mobile.show-navbar-mobile{
  // transform: translateX(0);
  background: rgba(0,0,0, 0.9);
  transition: all 1s ease;
  opacity: 1;
  z-index: 99;
}

// .navbar-mobile.hide-navbar-mobile{
//   transition: all 1s ease;
//   opacity: 1;
// }

@media screen and (max-width: 700px) {
  .navbar__menu {
    display: none;
  }
} 