.projects {
  min-height: 100vh;
  padding: 6rem 0;

  &__container {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 4rem;

    h1 {
      margin-bottom: 2rem;
      font-weight: 400;
      text-transform: uppercase;
    }

    h1::before {
      content: "";
      background: #fff;
      width: 38px;
      height: 4px;
      display: block;
    }
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    grid-gap: 6rem;
    
  }

  &__card {
    position: relative;
    
    
    
    img {
      width: 100%;
      height: 100%;
    }

    .overlay {
      position: absolute;
      background: rgba(0,0,0,0.7);
      width: 100%;
      height: 100%;
      left: 0;
      right: 0;
      opacity: 0;
      transition: .5s ease;
      height: 100%;
      display: flex;
        align-items: center;


      .inner-overlay {
        display: flex;

        .mockup {
          width: 50%;
          img {
            width: 100%;
            object-fit: scale-down;
          }
        }

        .info {
          width: 50%;
  
        }
      }
    }

    &:hover .overlay {
      opacity: 1;
      //transform: translate(0,0);
  } 
  }

}